.dialog {position: relative; display: block; max-height: inherit;}
.dialog > header {position: relative; background: #f1f1f1; padding: 0; border-bottom: 1px solid #e5e5e5;}

.dialog > header.pri {border-left: none; border-top: 6px solid #bbb;}
.dialog > header.pri-1 {border-left: none; border-top-color: #DD524D;}
.dialog > header.pri-2 {border-left: none; border-top-color: #ed9922;}
.dialog > header.pri-3 {border-left: none; border-top-color: #8A6DE9;}
.dialog > header .pri-icon {position: absolute; right: 10px; top: 15px; font-size: 12px; background-color: #bbb; color: #666; padding: 0 5px 0 5px; border-radius: 15px; text-align: center; min-width: 22px; display: none}
.dialog > header .pri-icon.pri-1 {color: #fff; background: #DD524D}
.dialog > header .pri-icon.pri-2 {color: #fff; background: #ed9922}
.dialog > header .pri-icon.pri-3 {color: #fff; background: #8A6DE9}

.dialog > header > h4 {line-height: 1.2; padding: 10px; margin: 0;}

.dialog > header .item-id {border: 1px solid #bbb; display: inline-block; margin-right: 2px; padding: 0 3px; font-size: 12px; line-height: 18px; color: #666; border-radius: 2px; min-width: 20px; text-align: center; vertical-align: top;}
.dialog > header .item-id.pri {background: #fff;}
.dialog > header .item-id.pri.pri-1 {color: #DD524D; border-color: #DD524D}
.dialog > header .item-id.pri.pri-2 {color: #ed9922; border-color: #ed9922}
.dialog > header .item-id.pri.pri-3 {color: #8A6DE9; border-color: #8A6DE9}

.dialog > header > .info {padding: 5px 10px}
.dialog > header > h4 + .info {padding-top: 0; margin-top: -5px;}
.dialog > header > .info .block-lines > .small {opacity: 0.6}
.dialog > header > .info-more {background-color: #eee; border-top: dashed 1px #ddd; height: 0; padding: 0 10px; border-top-width: 0; transition: all 0.2s; overflow: hidden; opacity: 0}
.dialog.show-more-info > header > .info-more {height: auto; padding: 5px 10px; border-top-width: 1px; opacity: 1}
.dialog.show-more-info > header > .info .info-more-icon:before {content: '\f077'}

.dialog > section {background: #fff; border-top: 1px solid #e5e5e5; padding: 10px 0; margin-top: -1px}
.dialog > section > h5 {padding: 0 10px 10px; margin: 0}
.dialog > section > h5 + .mui-content-padded {margin-top: 0;}
.dialog > section > .mui-content-padded p {color: inherit; font-size: inherit;}

.dialog > footer {position: fixed; bottom: 0; left: 0; right: 0; background-color: #fff}
.dialog.with-footer {padding-bottom: 87px;}

