select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"] 
{
}

body
{
  background: #0475e1;
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  top: 0;
}
#loginbox
{
  padding: 20px;
  margin: auto;
  padding-bottom: 150px;
}
#logo
{
  text-align: center;
}
#logo img
{
  max-width: 100%;
}
#loginForm
{
  max-width: 400px;
  margin: 0 auto;
}
#loginForm > .mui-input-group
{
  margin-bottom: 20px;
}
.mui-btn-primary
{
  background: #2694ff
}
