body:before
{
  position: fixed;
  top: -10px;
  left: 0;
  right: 0;
  content: ' ';
  display: block;
  height: 10px;
  width: 100%;
  background-color: red;
  box-shadow: rgba(0,0,0,.20) 0px 1px 5px 0px;
  z-index: 9999;
}
body {background: #EFEFF4;}

.table-view {border-top: none}
.table-view:empty {display: none}
